#contenedor1
{
    background-color: #ffe9c4;
}
.titulo
{
    font-family: 'Oswald', sans-serif;
}
.azuls
{
    background-color: black;
}
.libro
{
    font-size: 3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 1em;
}
#color
{
    border-color: lightskyblue;
    margin-top: 4em;
    margin-left: 3em;
}
input,.guardar
{
    margin-top: 4em;
    margin-left: 3em;
}
.contenedor2
{
    
    background-color: #e5eaee;
    height: 10em;
}

thead
{
    background-color: #b4e8f7;
    text-align: center;
}

td,th
{
    text-align: center;
}

.table
{
    width: 71.5em;
    margin-left:-1em;
}